#contact {

  input, textarea, button {
    border: 1px solid #1D1D1B;
  }

  input, textarea {
    margin: 0 0 16px 16px;
    padding: 8px;

    &:first-child {
      margin-left: 0;
    }

    &::-webkit-input-placeholder {
      text-transform: uppercase;
      font-weight: bold;
    }

    &::-moz-placeholder {
      text-transform: uppercase;
      font-weight: bold;
    }

    &:-moz-placeholder {
      text-transform: uppercase;
      font-weight: bold;
    }

    &:-ms-input-placeholder {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  button {
    text-transform: uppercase;
    background: none;
    padding: 16px 32px;
    color: #DB3229;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: color 0.3s cubic-bezier(0.7,0,0.9,1);
    cursor: pointer;

    &:hover {
      color: white;

      &::before {
        transform: scale3d(24, 48, 1);
      }
    }

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 50%;
      right: 100%;
      margin: -15px 0 0 1px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #DB3229;
      transform-origin: left center;
      transform: scale3d(1, 2, 1);
      transition: transform 0.3s, opacity 0.3s;
      transition-timing-function: cubic-bezier(0.7,0,0.9,1);
    }
  }

  .location {
    display: flex;
    align-items: center;
    color: #706F6F;
    text-transform: uppercase;
    margin-left: 32px;

    img {
      height: 36px;
      margin-right: 8px;
    }
  }

}
