html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  border-bottom: 1px solid #706F6F;
}

