#home {

  .hero {
    height: calc(100vh - 150px);
    position: relative;
    background: #BCE4E4 url('../images/161.jpg') no-repeat center;
    background-size: cover;

    &::after {
      content: '';
      height: 200px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -54px;
      z-index: -1;
      transform-origin: 100%;
      transform: skewY(-3deg);
      background-color: inherit;
    }
  }

  .headlines {
    display: flex;
    justify-content: space-around;
    position: relative;
    text-align: center;
    color: black;
    font-size: 48px;
    margin: 32px 0 48px 0;
    line-height: 1;
  }

  .headline-light {
    font-weight: 100;
  }

  .headline-strong {
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
  }

  .arrow-down {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
  }

  .content {
    display: flex;

    > div {
      padding: 0 64px;
    }

    .first-letter {
      float: left;
      color: black;
      font-family: 'Roboto Slab', sans-serif;
      font-size: 120px;
      line-height: 100px;
      margin: 0 4px 4px 0;
    }

    .lead {
      font-family: 'Roboto Slab', serif;

      font-weight: bold;
      color: black;
      text-align: right;
      text-transform: uppercase;
      margin-top: 2rem;
    }
  }

}
