nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 72px;

  a {
    color: white;
  }

  .navbar-brand {
    font-family: 'Flood Std', cursive;
    font-size: 50pt;
  }

  .menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    text-transform: uppercase;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}